<div class="wrapper flex">
  <div class="home-outer">
    <h2>話題の投稿</h2>
    <div class="articles">
      <% @posts.each do |post| %>
        <div class="article">
        <div class="user_info">
          <%= link_to image_tag("icon.png", alt: "user icon", class: "user-icon"), "" %>
        </div>
        <div class="article_data">
          <h2 class="article_title"><%= post.title %></h2>
        </div>
        <div class="article_contents">
          <%= post.contents %>
          <%= post.user_id %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
  <div class="sidemenu">
    <ul>
      <li><a>menu item</a></li>
      <li><a>menu item</a></li>
      <li><a>menu item</a></li>
      <li><a>menu item</a></li>
      <li><a>menu item</a></li>
    </ul>
  </div>
</div>