<div class="form-outer wrapper">
  <div class="post_form_inner">
    <%= form_with model: @comment, class: "basic_form" do |f| %>
      <h2>コメント編集</h2>

        <%= f.label :content, "内容" %>
        <%= f.text_area :content %>

      <%= f.submit "投稿", class: "button" %>
    <% end %>
  </div>
</div>
