<div class="post_menu">
  <ul class="flex">
    <% if current_user == post.user %>
      <li><%= link_to "削除", "", method: :delete, class: "button" %></li>
      <li><%= link_to "編集", edit_post_path(post), class: "button-border" %></li>
    <% else %>
      <%= render 'posts/bookmark_button' %>
    <% end %>
  </ul>
</div>
