<div class="items_index">
  <% if users.blank? %>
    <div class="items_nil">
      <h2>まだユーザーがいません</h2>
    </div>
  <% else %>
    <% users.each do |user| %>
      <% next if user.admin %>
      <div class="index_item">
        <%= render('shared/user_info', user: user) %>
      </div>
    <% end %>
    <%= will_paginate(@users, previous_label: '<', next_label: '>', inner_window: 1) %>
  <% end %>
</div>
