<div class="item_content">
  <div class="post_user_icon">
    <%= link_to(users_path(user)) do %>
      <%= render('shared/user_icon', user: user) %>
    <% end %>
  </div>

  <h2 class="user_name"><%= link_to(user.name, user_path(user)) %></h2>
</div>
