$red: #e82055;
$orange: #ff7b24;

.user-icon{
  height: 50px;
  margin-right: 10px;
}

.user_data{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.button-border{
  border-radius: 3px;
  border: $red solid 1px;
  background: white;
  color: $red;
  padding: 1px;
}

.button{
  border-radius: 3px;
  background: $red;
  color: white;
  padding: 1px;
}

.form-outer{
  margin: 40px auto;
  display: flex;
  justify-content: center;
}

.post_form_inner{
  width: 100%;

  display: flex;
}

.basic_form{
  width: 100%;
  border: solid $red 1px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  h2{
    text-align: center;
  }
  input, textarea{
    box-shadow: inset 0 1px 2px #ccc;
    margin-bottom: 20px
  }
  textarea{
    min-height: 50vh;
  }
  label{
    padding: 0 0 10px 10px;
  }
}

#error_message{
  color: red;
}
