.devise_form_outer{
  width: 350px;
  margin: 0 auto;
  padding: 15px;
}

.devise_form_menu{
  margin: 20px 0 auto;
  display: flex;
  flex-direction: column;
  .easy_login_button{
    background-color: springgreen;
    color: black;
  }
  input{ margin: 0px auto; }
  a{ margin: 10px auto; }
}
