$red: #e82055;
$orange: #ff7b24;

.post{
  padding: 15px;
  border: solid 1px $red;
}

.post_info{
  display: flex;
  align-items: center;
  p{ padding-right: 10px;}
}

.post_info_item{
  
}

.post_info_nav{
  display: flex;
  p{ padding-right: 10px;}
}

.post_menu{
  margin-top: 10px;
  display: flex;
  flex-direction: row-reverse;
  li{ padding-left: 10px;}
}

.post_title, .post_contents{
  width: 100%;
}
